In [4]:
import pandas as pd
import numpy as np

data = pd.read_csv('/content/kaggle_data/pokemon.csv')
data.head()

   #           Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1      Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2        Ivysaur  Grass  Poison  ...       80     60           1      False
2  3       Venusaur  Grass  Poison  ...      100     80           1      False
3  4  Mega Venusaur  Grass  Poison  ...      120     80           1      False
4  5     Charmander   Fire     NaN  ...       50     65           1      False

[5 rows x 12 columns]

In [10]:
series = data['Defense']
print(type(series))

data_frame = data[['Defense']]
print(type(data_frame))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [16]:
defense_filter = data['Defense'] > 200

data[defense_filter]

       #          Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
224  225  Mega Steelix  Steel  Ground  ...       95     30           2      False
230  231       Shuckle    Bug    Rock  ...      230      5           2      False
333  334   Mega Aggron  Steel     NaN  ...       80     50           3      False

[3 rows x 12 columns]

In [18]:
#AND logical operator
data[np.logical_and(data['Defense'] > 200, data['Attack'] > 100)]
#takes two parameters and return array

       #          Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
224  225  Mega Steelix  Steel  Ground  ...       95     30           2      False
333  334   Mega Aggron  Steel     NaN  ...       80     50           3      False

[2 rows x 12 columns]

In [20]:
#same result with the previous one 
data[(data['Defense'] > 200) & (data['Attack'] > 100)]

       #          Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
224  225  Mega Steelix  Steel  Ground  ...       95     30           2      False
333  334   Mega Aggron  Steel     NaN  ...       80     50           3      False

[2 rows x 12 columns]

In [42]:
#NumPy Quick Tutorial
#create array
one_dim_arr = np.array([1.2,2.2,3.8])
print(one_dim_arr)
print('-------')
two_dim_arr = np.array([[6,5],[8,7],[11,9]])
print(two_dim_arr)
print('-------')
# generate sequence between two parameters, first parameter included last one not
sequence_of_integers = np.arange(5,12)
print(sequence_of_integers)
print('-------')
#generate random number between two paramters. Also want size parameters
rand_int_bt50_100 = np.random.randint(low=50, high=101, size = 6)
print(rand_int_bt50_100)
print('-------')

#create random float number
#only takes number of generating values
random_floats_num = np.random.random([6])
print(random_floats_num)
print('-------')

#math operations on NumPy
random_floats_between_2_and_3 = random_floats_num + 2.0
print(random_floats_between_2_and_3)

[1.2 2.2 3.8]
-------
[[ 6  5]
 [ 8  7]
 [11  9]]
-------
[ 5  6  7  8  9 10 11]
-------
[50 54 93 84 65 75]
-------
[0.4693837  0.38377895 0.42851335 0.50441822 0.86256092 0.00434963]
-------
[2.4693837  2.38377895 2.42851335 2.50441822 2.86256092 2.00434963]

In [46]:
#Task 1: Create a linear dataset
#Your goal is to create a simple dataset consisting of a single feature and a label as follows:
#Assign a sequence of integers from 6 to 20 (inclusive) to a NumPy array named feature.
#Assign 15 values to a NumPy array named label such that:
#https://colab.research.google.com/github/google/eng-edu/blob/master/ml/cc/exercises/numpy_ultraquick_tutorial.ipynb#scrollTo=hfYVa8iQTaUL
feature = np.arange(6,21)
print(feature)
label = feature * 3 + 4
print(label)

[ 6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[22 25 28 31 34 37 40 43 46 49 52 55 58 61 64]

In [50]:
#Task2: Add some noise to the dataset
#To make your dataset a little more realistic, insert a little random noise into each element of the label array you already created. To be more precise, modify each value assigned to label by adding a different random floating-point value between -2 and +2.
#Don't rely on broadcasting. Instead, create a noise array having the same dimension as label.
noise = np.random.randint(low=-2, high=2, size = 15)
print(label)
label += noise
print(noise)
print(label)

[17 25 29 30 29 36 37 40 41 47 50 53 57 57 64]
[-2  0 -2  1 -2 -2  1  1  0  0 -2  0 -2 -2  1]
[15 25 27 31 27 34 38 41 41 47 48 53 55 55 65]